
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pricing Table</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
</head>
<body>

<div class="container">
  <h2>Pricing Table</h2>
    
  <button (click)="adduser()">Add Plan</button>
  <br>
  <table  class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Plan Name</th>
        <th>Plan Formula</th>
        <th>Location</th>
        <th>Plan Status</th>
        <th>Created Date</th>
        <th>Updated Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of users" id="myTable">
        
        
        
      <tr>
          <td>{{user.id}}</td>
          <td>{{user.planname}}</td>
        <td>{{user.planformula}}</td>
        <td>{{user.location}}</td>
        <td>{{user.planstatus}}</td>
        <td>{{user.createdate}}</td>
        <td>{{user.updatedate}}</td>
        <td><button (click)="edituser(edit)">Edit</button>&nbsp;&nbsp;<button (click)="deleteuser()">Delete</button></td>
        
      </tr>
      
      
    </tbody>
  </table>
  
</div>



</body>
</html>